location ~* ^/website/(.*)$ {
    proxy_pass https://www.qovery.com$request_uri;
}

location ~* ^/(.*)$ {
    proxy_pass http://$APP_FRONTEND$request_uri;
}

location ~* ^/podinfo/(.*)$ {
    proxy_pass http://$PODINFO_HOST$request_uri;
}
